Repository boostcamp-2020/IssueTracker-06, pull requests merged in 2020-10, with the labels that each got.

#41 Jy/레이블 전체 조회, 코멘트 생성 API 구현
  server/src/api/routes/comment/controller/createComment.ts
  server/src/api/routes/comment/controller/index.ts
  server/src/api/routes/comment/index.ts
  server/src/api/routes/index.ts
  server/src/api/routes/labels/controller/getLabels.ts
  server/src/api/routes/labels/controller/index.ts
  server/src/api/routes/labels/index.ts
  server/src/service/comment/createComment.ts
  server/src/service/comment/index.ts
  server/src/service/label/getLabels.ts
  server/src/service/label/index.ts
Labels: api, enhancement

#39 Cy/ 레이블 수정 및 삭제 API 구현
  server/src/api/routes/label/controller/deleteLabel.ts
  server/src/api/routes/label/controller/index.ts
  server/src/api/routes/label/controller/updateLabel.ts
  server/src/api/routes/label/index.ts
  server/src/service/label/deleteLabel.ts
  server/src/service/label/index.ts
  server/src/service/label/updateLabel.ts
Labels: api, enhancement

#42 Jy/마일스톤 전체 조회, 변경, 상태 변경 API 구현
  server/src/api/routes/index.ts
  server/src/api/routes/milestone/controller/index.ts
  server/src/api/routes/milestone/controller/updateMilestone.ts
  server/src/api/routes/milestone/controller/updateMilestoneStatus.ts
  server/src/api/routes/milestone/index.ts
  server/src/api/routes/milestones/controller/getMilestones.ts
  server/src/api/routes/milestones/controller/index.ts
  server/src/api/routes/milestones/index.ts
  server/src/service/milestone/getMilestones.ts
  server/src/service/milestone/index.ts
  server/src/service/milestone/updateMilestone.ts
  server/src/service/milestone/updateMilestoneStatus.ts
Labels: api, enhancement

#44 Eb/ issue 수정 API 구현
  server/src/api/routes/issue/controller/index.ts
  server/src/api/routes/issue/controller/updateIssue.ts
  server/src/api/routes/issue/controller/updateIssueContent.ts
  server/src/api/routes/issue/controller/updateIssueTitle.ts
  server/src/api/routes/issue/index.ts
  server/src/service/issue/index.ts
  server/src/service/issue/updateIssueAssignee.ts
  server/src/service/issue/updateIssueContent.ts
  server/src/service/issue/updateIssueLabel.ts
  server/src/service/issue/updateIssueMilestone.ts
  server/src/service/issue/updateIssueTitle.ts
Labels: api, enhancement

#43 Cy/이슈 조회 및 상태변경, 마일스톤 생성 및 제거 API 구현
  server/src/api/routes/issue/controller/getIssue.ts
  server/src/api/routes/issue/controller/index.ts
  server/src/api/routes/issue/controller/updateIssueStatus.ts
  server/src/api/routes/issue/index.ts
  server/src/api/routes/milestone/controller/createMilestone.ts
  server/src/api/routes/milestone/controller/deleteMilestone.ts
  server/src/api/routes/milestone/controller/index.ts
  server/src/api/routes/milestone/index.ts
  server/src/service/issue/getIssue.ts
  server/src/service/issue/index.ts
  server/src/service/issue/updateIssueStatus.ts
  server/src/service/milestone/createMilestone.ts
  server/src/service/milestone/deleteMilestone.ts
  server/src/service/milestone/index.ts
Labels: api, enhancement

#51 Jy/issue milestone 변경 api, milestone 상태 변경 api 오류 수정
  server/src/api/routes/issue/controller/updateIssue.ts
  server/src/api/routes/milestone/index.ts
Labels: api, bug

#50 Cy/fix 이슈 생성 필수값 조정, 이슈 조회 assignee 데이터 추가 조회
  server/src/models/issue.ts
  server/src/service/issue/createIssue.ts
  server/src/service/issue/getIssue.ts
Labels: api, bug

#52 Feature/issue detail view
  iOS/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Model/MockupData.swift
  iOS/IssueTracker/IssueTracker/Storyboard/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/Storyboard/Base.lproj/Main.storyboard
Labels: bug

#55 Develop/iOS 이슈 목록 화면, 이슈 세부 화면(하단뷰 처리) 및 코드 프리징
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Extension/Extension.swift
  iOS/IssueTracker/IssueTracker/Model/Comment.swift
  iOS/IssueTracker/IssueTracker/Model/DetailIssue.swift
  iOS/IssueTracker/IssueTracker/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/Model/Label.swift
  iOS/IssueTracker/IssueTracker/Model/Milestone.swift
  iOS/IssueTracker/IssueTracker/Model/MockupData.swift
  iOS/IssueTracker/IssueTracker/Model/User.swift
  iOS/IssueTracker/IssueTracker/Storyboard/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/Storyboard/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/View/AssigneeStackView.swift
  iOS/IssueTracker/IssueTracker/View/AssigneeView.swift
  iOS/IssueTracker/IssueTracker/View/BottomDetailView.swift
  iOS/IssueTracker/IssueTracker/View/IssueDetailCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/View/IssueDetailCollectionViewHeader.swift
  iOS/IssueTracker/IssueTracker/View/IssueListCollectionViewCell.swift
  iOS/IssueTracker/IssueTracker/View/IssueStateView.swift
  iOS/IssueTracker/IssueTracker/View/LabelView.swift
  iOS/IssueTracker/IssueTracker/View/LabelsStackView.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
Labels: bug, enhancement
